In [23]:
from __future__ import print_function,division
from builtins import range
import numpy as np 
from sklearn.metrics.pairwise import pairwise_distances
import re 
import nltk 
import spacy
from nltk.stem import WordNetLemmatizer,LancasterStemmer,PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from bs4 import BeautifulSoup
import requests
from nltk.tokenize import word_tokenize,sent_tokenize
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from tqdm import tqdm
from nltk.corpus import wordnet

In [2]:
link = "https://en.wikipedia.org/wiki/Space_Shuttle_Challenger_disaster"
page = requests.get(link)
src = page.content
soup = BeautifulSoup(src,"lxml")

In [3]:
x = soup.find_all("div",{"class":"mw-content-ltr mw-parser-output"})
text = x[0].text

In [4]:
text = "".join(sent_tokenize(text)[:2])

In [14]:
def process(txt):
    sw = stopwords.words("english")
    txt = re.sub(r"[^A-Za-z]"," ",txt)
    txt = txt.replace("U S ","US")
    txt = re.sub("\s+",' ',txt)
    txt = txt.strip()
    updated_txt = []
    for t in word_tokenize(txt):
        if t not in sw:
            updated_txt.append(t)
    txt = []
    for t in updated_txt:
        if t.istitle():
            txt.append(t)
    return txt

In [19]:
uq = list(set(process(text)))
idx = [0,3,4]
selected_elements = [uq[i] for i in idx]

In [22]:
txt = " ".join(selected_elements)

In [26]:
wordnet.synsets("Shuttle")

[Synset('shuttlecock.n.01'),
 Synset('shuttle.n.02'),
 Synset('shuttle.n.03'),
 Synset('shuttle.v.01')]

In [30]:
syn = []
ant = []
for x in txt.split():
    for s in wordnet.synsets(x):
        for l in s.lemmas():
            syn.append({l.name():l.synset().definition()})
            if l.antonyms():
                ant.append({l.name()[0]:l.synset().definition()})

In [37]:
syn

[{'Columbia': 'a North American river; rises in southwestern Canada and flows southward across Washington to form the border between Washington and Oregon before emptying into the Pacific; known for its salmon runs in the spring'},
 {'Columbia_River': 'a North American river; rises in southwestern Canada and flows southward across Washington to form the border between Washington and Oregon before emptying into the Pacific; known for its salmon runs in the spring'},
 {'Columbia': 'a town in west central Tennessee'},
 {'Columbia': 'capital and largest city in South Carolina; located in central South Carolina'},
 {'capital_of_South_Carolina': 'capital and largest city in South Carolina; located in central South Carolina'},
 {'Columbia': 'a university town in central Missouri'},
 {'Columbia_University': 'a university in New York City'},
 {'Columbia': 'a university in New York City'},
 {'space': 'the unlimited expanse in which everything is located'},
 {'infinite': 'the unlimited expanse in which everything is located'},
 {'space': 'an empty area (usually bounded in some way between things)'},
 {'space': 'an area reserved for some particular purpose'},
 {'outer_space': "any location outside the Earth's atmosphere"},
 {'space': "any location outside the Earth's atmosphere"},
 {'space': 'a blank character used to separate successive words in writing or printing'},
 {'blank': 'a blank character used to separate successive words in writing or printing'},
 {'distance': 'the interval between two times'},
 {'space': 'the interval between two times'},
 {'space': 'a blank area'},
 {'blank_space': 'a blank area'},
 {'place': 'a blank area'},
 {'space': 'one of the areas between or below or above the lines of a musical staff'},
 {'quad': '(printing) a block of type without a raised letter; used for spacing between words or sentences'},
 {'space': '(printing) a block of type without a raised letter; used for spacing between words or sentences'},
 {'space': 'place at intervals'},
 {'shuttlecock': 'badminton equipment consisting of a ball of cork or rubber with a crown of feathers'},
 {'bird': 'badminton equipment consisting of a ball of cork or rubber with a crown of feathers'},
 {'birdie': 'badminton equipment consisting of a ball of cork or rubber with a crown of feathers'},
 {'shuttle': 'badminton equipment consisting of a ball of cork or rubber with a crown of feathers'},
 {'shuttle': 'public transport that consists of a bus or train or airplane that plies back and forth between two points'},
 {'shuttle': 'bobbin that passes the weft thread between the warp threads'},
 {'shuttle': 'travel back and forth between two points'}]

In [42]:
keys = [list(x.keys())[0] for x in syn]

In [43]:
values = [list(x.values())[0] for x in syn]

In [51]:
df = pd.DataFrame(data={"Synonym":keys,"definition":values})

In [54]:
df = df.drop_duplicates(subset='Synonym')
df

,Synonym,definition
0,Columbia,a North American river; rises in southwestern ...
1,Columbia_River,a North American river; rises in southwestern ...
4,capital_of_South_Carolina,capital and largest city in South Carolina; lo...
6,Columbia_University,a university in New York City
8,space,the unlimited expanse in which everything is l...
9,infinite,the unlimited expanse in which everything is l...
12,outer_space,any location outside the Earth's atmosphere
15,blank,a blank character used to separate successive ...
16,distance,the interval between two times
19,blank_space,a blank area
20,place,a blank area
22,quad,(printing) a block of type without a raised le...
25,shuttlecock,badminton equipment consisting of a ball of co...
26,bird,badminton equipment consisting of a ball of co...
27,birdie,badminton equipment consisting of a ball of co...
28,shuttle,badminton equipment consisting of a ball of co...

In [55]:
ant

[]